@import "tailwindcss";

@theme {
  /* font family */
  --font-primary: "Orbitron";
  --font-secondary: "Rajdhani";
  --font-tertiary: "Aldrich";

  /* screens */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;

  /* colors */
  --color-primary: "#0a0a0a";
  --color-secondary: "#B809C3";
}

.siteImage {
  background-image: url("./assets/site-bg2.jpg");
}

.aboutImage {
  background-image: url("./assets/about.png");
}
/*
.servicesImage {
    background-image: url('./assets/services.png');
} */

.btn {
  background: linear-gradient(
    92.23deg,
    #b936ee 50.63%,
    #fb91bd 100%,
    #f0dc61 21.43%,
    #de4983 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #de4983 21.43%,
    #fb91bd 50.63%,
    #b936ee 100%,
    #f0dc61 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #de4983 21.43%,
    #fb91bd 50.63%,
    #b936ee 100%,
    #f0dc61 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }

  .h2 {
    @apply font-primary text-[50px] mb-6 tracking-[10%] uppercase text-[#FE8B30];
  }

  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }

  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }

  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }

  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }

  .btn-link {
    @apply text-base;
  }

  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#b936ee] to-[#E074C9] font-bold font-primary hover:from-[#E074C9] hover:to-[#b936ee];
  }

  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
